header {
	background-color: #ffed74;
	border: 1px black solid;
	padding: 20px;
}
nav {background-color: #e8c66a;
	border: 1px black solid;
	padding: 20px;
}
article:{background-color: #e89c6c;
	border: 1px black solid;
	padding: 20px;
}
footer {background-color: #ff957e;
	border: 1px black solid;
	padding: 20px;
} 
section {background-color: #e89c6c;
	border: 1px black solid;
	padding: 20px;
	}
}
body {
	background-image: url("../images/the-phoenix-rising.jpg");
	background-color: #FF0209;
    background-size: cover; 
 }

h1 {
	color: #4169E1;
	font-family: 'Eagle Lake', helvetica, sans-serif;
	font-weight: 900;
}

h2 {
	color: #ffff00; 
	font-family: 'Eagle Lake', helvetica, sans-serif;
	font-weight: 700;
}

h3{
	color: #ffffc0;
	font-family: 'Eagle Lake', helvetica, sans-serif;
	font-weight: 900;
	font-size: 22px;
}

h4 {
    color: #F9172C;
    font-family: 'Eaglge Lake', helvetica, sans-serif;
	font-style: italic;
} 
    
nav a{ 
	color:#4169E1;
	font-family: "Arial Black",Gadget, sans-serif;
	text-decoration: none;
	font-style: italic;
}

ul {
	font-family:arial, helvetica, sans-serif;
    color: #ffffc0;
    list-style-type: square;
}

p {
	font-family:arial, helvetica, sans-serif;
    color: #ffffc0;
}